@define-color primary {{colors.primary.default.hex}};
@define-color on_primary {{colors.on_primary.default.hex}};
@define-color primary_container {{colors.primary_container.default.hex}};
@define-color on_primary_container {{colors.on_primary_container.default.hex}};
@define-color secondary {{colors.secondary.default.hex}};
@define-color on_secondary {{colors.on_secondary.default.hex}};
@define-color secondary_container {{colors.secondary_container.default.hex}};
@define-color on_secondary_container {{colors.on_secondary_container.default.hex}};
@define-color tertiary {{colors.tertiary.default.hex}};
@define-color on_tertiary {{colors.on_tertiary.default.hex}};
@define-color tertiary_container {{colors.tertiary_container.default.hex}};
@define-color on_tertiary_container {{colors.on_tertiary_container.default.hex}};
@define-color error {{colors.error.default.hex}};
@define-color on_error {{colors.on_error.default.hex}};
@define-color error_container {{colors.error_container.default.hex}};
@define-color on_error_container {{colors.on_error_container.default.hex}};
@define-color background {{colors.background.default.hex}};
@define-color on_background {{colors.on_background.default.hex}};
@define-color surface {{colors.surface.default.hex}};
@define-color on_surface {{colors.on_surface.default.hex}};
@define-color surface_variant {{colors.surface_variant.default.hex}};
@define-color on_surface_variant {{colors.on_surface_variant.default.hex}};
@define-color outline {{colors.outline.default.hex}};
@define-color shadow {{colors.shadow.default.hex}};
@define-color inverse_surface {{colors.inverse_surface.default.hex}};
@define-color inverse_on_surface {{colors.inverse_on_surface.default.hex}};
@define-color inverse_primary {{colors.inverse_primary.default.hex}};

/* Common GTK color mappings */
@define-color theme_fg_color @on_surface;
@define-color theme_bg_color @surface;
@define-color theme_text_color @on_surface;
@define-color theme_selected_bg_color @primary;
@define-color theme_selected_fg_color @on_primary;

@define-color insens_bg_color mix(@surface, @on_surface, 0.4);
@define-color insens_fg_color mix(@surface, @on_surface, 0.5);

@define-color borders @outline;
@define-color unfocused_borders @outline;
@define-color warning_color @error;
@define-color error_color @error;
@define-color success_color @primary;
